@import "/src/styles/theme.scss";

.wrapper {
  background-color: map-get($md-background, 50);
  height: 100%;
  overflow-x: hidden;

  .logo {
    padding: 0.3rem 0rem;
    margin: 0px 10px;
    border-bottom: 1px rgb(185, 185, 185) solid;
    h1 {
      margin: 0 !important;
    }
  }

  .container {
    margin-top: 1em;
    .expand-icon {
      transition: 300ms ease-in-out;
      transform: rotate(0deg);
      &.rotated {
        transform: rotate(180deg);
      }
    }
    .submenu {
      overflow-y: hidden;
      transition: transform 300ms ease;
      transform: scaleY(0);
      transform-origin: top;
      padding-left: 30px;
      &.expanded {
        transform: scaleY(1);
      }
    }
    a {
      text-decoration: none;
    }
    mat-icon {
      font-size: 23px !important;
    }
    a {
      font-style: normal;
      font-size: 18px !important;
    }
    .list-item-active {
      mat-icon {
        color: map-get($md-primary, 300) !important;
      }
      a {
        font-style: normal;
        color: map-get($md-primary, 300) !important;
      }
    }
  }
}
