<div class="flex flex-column w-100 h-100">
  <header class="flex between align-items-center">
    <span>
      <strong class="logo">LOGO</strong>
    </span>

    <span>
      <strong class="logo">Dark Mode</strong>
      <mat-slide-toggle (change)="switchTheme($event)"
        [checked]="darkMode$ | async"
      ></mat-slide-toggle>
    </span>
  </header>
  <mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer [opened]="true" class="sidenav" mode="side" fixedInViewport="true" [attr.role]="'navigation'">
      <app-side-nav (openChanged)="toggleDrawer()" [navTree]="navTree"></app-side-nav>
    </mat-drawer>

    <div class="wrapper">

      <div class="content">
        <ng-content>

        </ng-content>
      </div>
    </div>
  </mat-drawer-container>
</div>
